<footer class="footer container-fluid">
  <div class="container">
    <div class="row justify-content-center p-5">
      <!-- Cannot get this to stay centred for xs screens, have tried text-xs-center alongside current stuff but it isn't working-->
      <div class="col-lg-3 text-md-center text-lg-start p-5">
        <h5>Foodie Hub</h5>
        <p>Feeding your curiosity: explore, share and indulge on Foodie Hub</p>
        <div class="social-icons">
          <a href="#"><i class="bi bi-facebook "></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-lg-3 d-none d-lg-block p-5">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="link">Home</a></li>
          <li><a href="#" class="link">About</a></li>
          <li><a href="#" class="link">Get Started</a></li>
        </ul>
      </div>
      <div class="col-lg-3 d-none d-lg-block p-5">
        <h5>Recipes</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="link">By cuisine</a></li>
          <li><a href="#" class="link">By meal type</a></li>
          <li><a href="#" class="link">Request a recipe</a></li>
        </ul>
      </div>
      <div class="col-lg-3 d-none d-lg-block p-5">
        <h5>Restaurants</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="link">By suburb</a></li>
          <li><a href="#" class="link">By cuisine</a></li>
          <li><a href="#" class="link">Request a restaurant</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright text-center">
      &copy; 2024. All Rights Reserved.
    </div>
  </div>
</footer>