<header>
    <nav class="row navbar navbar-expand-lg navbar-dark" id="menu">
        <div class="container-fluid">
            <div class="logo">
                <img
                    src="https://png.pngtree.com/png-clipart/20230823/original/pngtree-fast-food-logo-design-picture-image_8225761.png">
            </div>
            <!-- On small screens the navbar toggle button only toggles the dropdown
                but doesn't retract it. Need to fix-->
            <a class="navbar-brand" href="{{ url_for('html') }}" id="logohome">Foodie Hub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent,#header-text1" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center p-4" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="{{ url_for('recipes') }}" id="recipeNav">RECIPES</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('recipes') }}">BREAKFAST</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('recipes') }}">LUNCH</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('recipes') }}">DINNER</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('new_restaurants') }}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" id="Recommed">
                            RESTAURANTS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('new_restaurants') }}">PERTH'S BEST</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('hidden_gems') }}">HIDDEN GEMS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('cuisine') }}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" id="cus">
                            CUISINE
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('cuisine') }}">ASIAN</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('cuisine') }}">INDIAN</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('cuisine') }}">MEXICAN</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('cuisine') }}">EUROPEAN</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('cuisine') }}">OTHER CUISINES</a></li>
                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('account') }}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" id="users">
                            FOODIE HUB
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('explore') }}">EXPLORE RECIPES</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blog') }}">REQUEST A RECIPE</a></li>
                            <li><a class="dropdown-item" href="">TOP RESTAURANTS</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('create') }}">REQUEST A RESTAURANT</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <!-- <li><a class="dropdown-item" id="loginBtn" data-bs-toggle="modal"
                                    data-bs-target="#loginModal" href="">LOGIN</a></li> -->
                            {% if current_user.is_anonymous %}
                            <li><a class="dropdown-item" href="{{ url_for('login' ) }}">LOGIN</a></li>
                            {% else %}
                            <li><a class="dropdown-item"
                                    href="{{ url_for('user', username=current_user.username ) }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout' ) }}">Logout</a></li>
                            {% endif %}
                        </ul>
                    <li class="nav-item d-lg-none d-xxl-block w-100">
                        <form class="d-flex search-bar form-inline" role="search">
                            <input id="search" type="search" placeholder="Start searching" list="search-suggestions"
                                autocomplete="off" aria-label="Search" />
                            <datalist class="" id="search-suggestions">
                                <option value="Recipes"></option>
                                <option value="Blog"></option>
                                <option value="Recommendations"></option>
                            </datalist>
                            <button class="btn btn-dark mx-2" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
                {% if current_user.is_anonymous %}
                <div class="d-flex flex-wrap pb-1">
                    <a class="btn btn-outline-light mx-1" style="margin-top: 0.25rem !important;"
                        href="{{ url_for('register' ) }}">Sign up</a>
                </div>
                <div class="d-flex flex-wrap">
                    <a class="btn btn-outline-light mx-1" href="{{ url_for('login' ) }}">Login</a>
                </div>
                {% else %}
                <div class="d-flex flex-wrap">
                    <a class="btn btn-outline-light mx-1" href="{{ url_for('logout' ) }}">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
        </div>
    </nav>

    <div class="row position-absolute pt-5" id="header-text1">
        <h1 class="p-5">LOOKING TO SPICE UP YOUR LIFE?<br> LOOK NO FURTHER</h1>
        <div class="button-awesome p-5">
            <button id="start" class="btn btn-lg btn-half">Start Tour </button>
        </div>
    </div>
</header>