{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<body>
  <div class="modal p-5" id="loginModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login to Foodie Hub</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            <!-- <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
          </div> -->
            <div class="mb-3">
              <form id="login-form">
                <label for="username-field" class="form-label">Username</label>
                <input type="email" name="username" id="username-field" class="form-control" placeholder="Username">
                <label for="password-field" class="form-label">Password</label>
                <input type="password" name="password" id="password-field" class="form-control" placeholder="Password">
                <a href="#" class="link">Forgot your password?</a>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn m-2">Login</button>
                  <p>Don't have an account?
                    <a href="#" class="link"><b>Sign up here!</b></a>
                  </p>
                </div>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </main>


</body>

{% endblock %}