{% extends 'base.html' %}

{% block title %}
Foodie Hub
{% endblock %}

{% block content %}

<main class="container-fluid">
  <div class="row p-5">
    <h3 class="text-center">What's Foodie Hub all about? <br> Discover, make, share, and learn!</h3>
  </div>
  <div class="row">
    <p class="text-center copy">Welcome to Foodie Hub, where culinary passion meets community! Dive into a world of flavors, where discovering tantalizing recipes, creating mouthwatering dishes, sharing your culinary adventures, and learning from fellow food enthusiasts is all part of the delicious journey. Whether you're a seasoned chef or a kitchen newbie, Foodie Hub is your go-to destination for everything food-related. Join us and let's savor the joy of cooking together! </p>
  </div>
  <div class="container p-5 justify-content-evenly">
    <div class="row ">
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-certificate d-flex justify-content-center p-3"></i>
          <h4 class="card-title">What Foodie Hub Does</h4>
          <p class="card-text">Looking for something to eat, but don't know where to start? Look no further, from standard recipes and restrauants, to finding that home cooked meal that taste just like grandma made Foodie Hub is the place for you.</p>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-camera d-flex justify-content-center p-3"></i>
          <h4 class="card-title">Recipes</h4>
          <p class="card-text"> Sick of being badly layout food websites, or having to read a life story before seeing the recipes. Foodie Hub Provides a new way to share and explore cusinie, wihtout the pointless inbetween.</p>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-handshake-o d-flex justify-content-center p-3"></i>
          <h4 class="card-title">Being Social</h4>
          <p class="card-text">Foodie Hub also provides a platform for like minded individuals to discuss, learn and explore recipes together all in one place. Join out community today!</p>
          <a href="#" class="card-link">link</a>
        </div>
      </div>
      <div class="col-lg card m-2">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <i class="fa fa-cutlery d-flex justify-content-center p-3"></i>
          <h4 class="card-title">Setting Goals</h4>
          <p class="card-text">Looking to upskill your chef abilties or even looking to achieve a dietary goal. Look no further, Foodie Hub provides a chance to get this all in one.</p>
          <a href="#" class="card-link text-align-center">link</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
