{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-center p-4 bg-body-tertiary">
    <main class="form-signin m-auto">
        <form action="" method="post" novalidate class="needs-validation"> {{ form.hidden_tag() }}
            <h1 class="mb-3 text-center">Sign in to Foodie Hub</h1>
            <div class="mb-3 form-floating" id="floatingInput">
                {{ form.username(class="form-control", size=32) }}
                {{ form.username.label(class="form-label") }}
                {% for error in form.username.errors %}
            </div>
            <div class="invalid-feedback" style="display: block;">
                {{ error }}
            </div>
            {% endfor %}
            <div class="mb-3 form-floating" id="floatingInput">
                {{ form.password(class="form-control", size=32) }}
                {{ form.password.label(class="form-label") }}
                {% for error in form.password.errors %}
                <div class="invalid-feedback" style="display: block;"> {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="mb-3 form-check">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <button type="submit" class="btn w-100 py-2 btn-dark">{{ form.submit.label }}</button>
            <div class="mt-4 text-center"> Don't have an account?
                <a href="{{ url_for('register') }}" class="link">Sign up here</a>
            </div>
        </form>
    </main>
</div>

{% endblock %}

<!-- <div class="modal fade p-5" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Login to Foodie Hub</h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="login-form">
                    <label for="username-field" class="form-label">Username</label>
                    <input type="email" name="username" id="username-field" class="form-control"
                        placeholder="Username">
                    <label for="password-field" class="form-label">Password</label>
                    <input type="password-placeholder" name="password" id="password-field" class="form-control"
                        placeholder="Password">
                    <a href="#" class="link">Forgot your password?</a>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn m-2" id="login-form-submit">Login</button>
                        <p>Don't have an account?
                            <a href="#" class="link"><b>Sign up here!</b></a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->