{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-center p-4 bg-body-tertiary">
    <main class="form-register m-auto">
        <form action="" method="post" novalidate class="needs-validation">
            {{ form.hidden_tag() }}
            <h1 class="mb-3 text-center">Register for Foodie Hub</h1>
            <div class="invalid-feedback" style="display: block; color: red;">
                {% for error in form.username.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="mb-3 form-floating" id="floatingInput">
                {{ form.username(class="form-control", size=32) }}
                {{ form.username.label(class="form-label") }}

            </div>
            <div class="invalid-feedback" style="display: block; color: red;">
                {% for error in form.email.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="mb-3 form-floating" id="floatingInput">
                {{ form.email(class="form-control", size=64) }}
                {{ form.email.label(class="form-label") }}
            </div>
            <div class="invalid-feedback" style="display: block; color: red;">
                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="mb-3 form-floating" id="floatingInput">
                {{ form.password(class="form-control", size=32) }}
                {{ form.password.label(class="form-label") }}

            </div>
            <div class="invalid-feedback" style="display: block; color: red;">
                {% for error in form.password2.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="mb-3 form-floating" id="floatingInput">
                {{ form.password2(class="form-control", size=32) }}
                {{ form.password2.label(class="form-label") }}

            </div>
            <button type="submit" class="btn w-100 py-2 btn-dark">{{ form.submit.label }}</button>
        </form>
    </main>
</div>
{% endblock %}