{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ user.avatar(128) }}" class="img-fluid rounded-circle" alt="User Avatar">
        </div>
        <div class="col-md-8">
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}
            <p>{{ user.about_me }}</p>
            {% endif %}
            {% if user.last_seen %}
            <p>Last seen on: {{ user.last_seen }}</p>
            {% endif %}
            <p>{{ user.followers_count() }} followers, {{ user.following_count() }} following.</p>
            {% if user == current_user %}
            <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit your profile</a>
            {% elif not current_user.is_following(user) %}
            <form action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-success">Follow</button>
            </form>
            {% else %}
            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-warning">Unfollow</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="mt-4">
        {% for post in posts %}
        {% include '_post.html' %}
        {% endfor %}

        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
    </div>
</div>
{% endblock %}